/* Variables de colores */
$black-color: #000000;
$blue-color: #107ACC;
$button-color: #434343;
$green-color:#098409;
$lightgray-color: #d3d3d3;
$orange-color: #ff4800;
$red-color: #ff0000;
$white-color: #FFFFFF;